# dependencies
/node_modules

# next.js
/.next/
/out/
.vercel/

# builds
/build
/dist

# caches & tooling
/.turbo/
/.swc/
.eslintcache

# coverage
/coverage

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# editors & OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts
